@import "font";

$bg-color: #39464e;
$fade-white: rgba(255, 255, 255, 0.15);

body{
  background-color: $bg-color;
  text-align: center;
  font-family: $system-ui;
  color: white;
}
.content{
  // background-color: lightgreen;
  display: inline-block;
  margin-top: 40px;
}
@mixin inline{
  display: inline-block;
  vertical-align: top;
}
.thumbnail{
  @include inline;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #111;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 0 5px $fade-white;
}
.right{
  @include inline;
  // background-color: lightgreen;
  padding: 5px;
  width: 360px;
  margin-left: 15px;
}
.title{
  font-size: 1.6em;
  white-space: nowrap;
  font-weight: 200;
  letter-spacing: 1px;
}
#player{
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  left: 0;
}
