@import "font";

$bg-color: #39464e;
$fade-white: rgba(255, 255, 255, 0.15);
$border-radius: 10px;

@mixin inline {
  display: inline-block;
  vertical-align: top;
}
@mixin to-fade-in {
  transition: all .4s;
  opacity: 0;
}

body{
  background-color: $bg-color;
  text-align: center;
  font-family: $system-ui;
  color: white;
}
a{
  $color: dodgerblue;
  color: $color;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  transition: .15s all;
  &:hover{
    border-bottom: 2px solid $color;
  }
}
p{
  font-weight: 100;
  b{
    font-weight: 900;
    font-size: 1.4em;
  }
}
.content{
  // background-color: lightgreen;
  display: inline-block;
  margin-top: 40px;
}
#player{
  opacity: 0;
}
.thumbnail{
  @include inline;
  @include to-fade-in;
  $outside: 5px;
  vertical-align: bottom;
  width: 240px;
  height: 180px;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  border-radius: $border-radius;
  box-shadow: 0 0 0 $outside $fade-white;
}
.right{
  @include inline;
  width: 360px;
  margin: 5px 0 0;
  margin-left: 20px;
}
.title{
  @include to-fade-in;
  margin-top: 15px;
  padding: 10px 0;
  font-size: 1.6em;
  // white-space: nowrap;
  font-weight: 200;
  letter-spacing: 1px;
}
.controls{
  @include to-fade-in;
  padding: 5px;
  background: rgba(255, 255, 255, 0.15);
  padding: 0 50px;
  margin-top: 10px;
  border-radius: $border-radius;
  user-select: none;

  .button{
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -3px;
    opacity: 1;
    transition: .15s opacity;

    &:hover{
      opacity: .8;
    }
    &.pause{
      background-image: url('https://dotspencer.github.io/music-mode/img/play.svg'); // preload
      background-image: url('https://dotspencer.github.io/music-mode/img/pause.svg');
    }
    &.restart{
      background-image: url('https://dotspencer.github.io/music-mode/img/restart-previous.svg');
      box-sizing: border-box;
      border: 8px solid transparent;
    }
  }
}
.fade-in{
  opacity: 1;
}
.spin{
  animation: spin .5s ease-in-out;
}
@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}
#player {
    position: absolute;
    bottom: 0;
}
.hidden {
  display: none !important;
}
